<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shows</title>
</head>
<body>
    
    <h2>TV Shows  </h2>
    <h2>{{infor.id}}</h2>
   <h2>Title:</h2> {{infor.title}}
   <h2>Release Date:</h2> {{infor. release_date}}
   <h2>Descriptipn:</h2> {{infor.descriptipn}}
    <a href="/shows">Go Back</a>
    <h5>Last Updated Septemper 27,2018,4:57 pm </h5>
    <a href="/edit">Edit</a>||
    <a href="/destroy">Delete</a>
</body>
</html>